* {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: white;
}

h1 {
  font-size: 4rem;
}

button {
  padding: 0.5rem;
  background: transparent;
  color: white;
  border: 1px solid silver;
  width: 13rem;
}

button:active {
  background: gray;
}

button:hover {
  border: 1px solid gray;
}

.container {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

.error {
  color: red;
}

.success {
  color: greenyellow;
}
